.task-card {
    background-color: #fefefe;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.task-content {
    height: 80px;
    overflow-y: auto;
}

.task-actions {
    display: flex;
    justify-content: space-between;
}

.move-button {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.move-button:disabled {
    cursor: not-allowed;
}