.kanban-board {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 20px;

  height: 100vh;
  background-image: url(
    https://fastcdn.hoyoverse.com/content-v2/nap/114225/608830bc6382b73079821aed7b19fda8_8240430244310614598.jpg
  );
  background-position: right;
  background-size: cover;
}
